.App { 

  text-align: center;
  font-family: monospace;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.Menu{
  width: 500px ;
  height: 500px;
  background-color: rgba(11, 152, 170, 0.534) ;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  border-radius: 5PX;

}
.Menu input,button{
  width: 300px;
  height: 35px;
  margin: 10px;
  border-radius: 4px;
  font-size: 1.3rem;
  border: 1px solid;
}